.table-theme1{
  border-spacing: 0; /* 控制单元格之间的距离 */
  border-collapse: collapse;  /* 控制是否合并边框：separate:缺省值 边框不合并；collapse:边框合并 */
  border: 1px solid #000;
  tr,td,th {
    border: 1px solid;
    border-color: #000 !important;
    border-collapse: collapse;  /* 控制是否合并边框 */
    border-spacing: 0;
    height: auto !important;
    //position: relative;
    //left: 0;
    //right: 0;
    //top: 0;
    //bottom: 0;
    .widget-col-list{
      //display: inline-block;
      display: inline-flex !important;
      width: 100%;
    }
  }
}
